.chapter-preview{
    overflow:hidden;
    border-radius:18px;
    background:#0f172a;
}

.chapter-preview img{
    width:100%;
    transition:.4s;
}

.chapter-preview:hover img{
    transform:scale(1.05);
}

.chapter-name{
    font-size:18px;
    font-weight:700;
}