.workflow-toast{

    animation:toastIn .35s;

}

@keyframes toastIn{

    from{

        opacity:0;

        transform:translateX(40px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}